<%- include ('partials/header') %>

<div class="ui main container text">
    <div class="ui huge header">All blogs </div>
</div>

<div class="ui top container">
<div class="ui items divided segment">
    <% blogs.forEach((blog)=>{%>
        <div class="item segment">
            <div class="image">
                <img src="<%= blog.image%>"> 
            </div>
            <div class="content">
                <a class="header" href="/blogs/<%= blog._id%>"><%= blog.title%></a>
                <div class="meta">
                    <span><%= blog.added.toDateString()%></span>
                </div>
                <div class="ui button">
                    <a href="/blogs/<%= blog._id%>">More...</a>
                </div>
            </div>
        </div>
    <% })%>
</div>
</div>

<%- include ('partials/footer') %>